* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #f7f7f7;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
} 

header {
  background: #00008b;
  color: #ffffff;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%; 
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffc107;
}

section {
  padding: 80px 0;
} 

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.paragrafoAnimado {
  animation: fade-in 1s ease-in-out;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
} 
p {
   font-size: 20px
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #ffc107;
  color: #333;
}